<p id="notice"><%= notice %></p>

<h1>Waitinglists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th></th>
      <th></th>
      <th>Book</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @waitinglists.each do |waitinglist| %>
      <% puts 'here' %>
      <% puts waitinglist.library_id %>
      <% puts  waitinglist.user_id %>
      <tr>
        <td><%= User.find_by(id: waitinglist.user_id).name  %></td>
        <td></td>
        <td></td>
        <td><%= Library.find_by(id: waitinglist.library_id).book_title %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


